body {
  margin: 0 auto;
  background-color: gray;
}

@font-face {
  font-family: Scoutie;
  src: url(./fonts/ScoutieSans-VariableFont_wght.ttf);
}

h1 {
  text-align: center;
  font-family: Scoutie;
  color: red;
}

input {
  text-align: center;
  height: 25px;
  width: 300px;
  border-radius: 50px;
  font-family: Scoutie;
  border: solid red 3px;
}

.search {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search-confirm {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  border: solid black;
}

.datasheet {
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: red 5px solid;
  background-color: white;
  width: 75%;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Scoutie;
  padding-bottom: 50px;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stats > div {
  margin: 10px;
}

.datasheer[hidden] {
  display: none;
}